body{
  background: antiquewhite;
  font-family: $p_cursive;
  font-size: $font_medium;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: $dark_green;
}

h1 {
  font-family: $h2_cursive;
}

h2 {
  font-family: $h2_cursive;
  font-size: $font_big;
  padding: $gutter_std / 4 $gutter_std;
}

p {
  font-family: $p_basic;
  font-size: $font_medium;
  padding: $gutter_std / 2 $gutter_std / 2;
}

input, button {
  font-family: $p_cursive;
  font-size: $font_medium;
  margin: $gutter_std $gutter_std;
  padding: $gutter_std / 3 $gutter_std / 3;
}

a {
  font-family: $p_basic;
  font-size: $font_big;
}

.inputAndButton button {
  background-color: $dark_green;
  color: $white;
  border-radius: 5px;
}

.inputAndButton button:hover {
  background-color: $aqua;
  color: $black;
}

