
@media screen and (max-width: 750px) {
  p {
      font-size: $min_font_size;
  }

  h2 {
      font-size: $min_h2_size;
  }

}

p, select, input, button, a {
  padding: $gutter_std / 2 $gutter_std / 2;
}

.header{
  width: 100%;
  color: aliceblue;
  background: rgb(92, 110, 105);
  margin-bottom: 10px;
  padding: 15px;
  font-stretch: expanded;
  
  h1{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 200%;
  }
}